*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:black;
    font-family:Arial, Helvetica, sans-serif;
}

canvas{
    position:fixed;
    inset:0;
    width:100%;
    height:100%;
    display:block;
}

#start-screen{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.85);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
    z-index:10;
}

#start-screen h1{
    color:white;
    font-size:60px;
    letter-spacing:4px;
}

#startBtn{
    padding:16px 50px;
    font-size:22px;
    border:none;
    border-radius:999px;
    cursor:pointer;
    transition:.3s;
}

#startBtn:hover{
    transform:scale(1.08);
}

#orbit-ui{
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:20;
}

.orbit-item{
    position:absolute;

    color:#ffd8f2;

    font-size:18px;
    font-family:Poppins,sans-serif;
    font-weight:500;

    pointer-events:auto;
    cursor:pointer;

    user-select:none;

    transition:.25s;

    text-shadow:
    0 0 8px #ff9bdd,
    0 0 20px #ff5ebd;
}

.orbit-item:hover{

    color:white;

    transform:translate(-50%,-50%) scale(1.12);

    text-shadow:
    0 0 10px white,
    0 0 25px #ff87d8,
    0 0 45px #ff5ebd;

}
#card-overlay{

    position:fixed;
    inset:0;

    display:none;
    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.45);
    backdrop-filter:blur(10px);

    z-index:100;

}

.card{

    width:min(700px,90vw);
    max-height:80vh;

    overflow:auto;

    padding:35px;

    border-radius:24px;

    background:rgba(20,10,35,.82);

    border:1px solid rgba(255,255,255,.12);

    color:white;

    box-shadow:
    0 0 40px rgba(255,120,220,.25);

}

#close-card{

    float:right;

    border:none;
    background:none;

    color:white;

    font-size:32px;

    cursor:pointer;

}

#card-title{

    margin-bottom:20px;

    color:#ffd6f5;

}

#card-content{

    line-height:1.9;

    white-space:pre-wrap;

}
.orbit-word{

    position:absolute;

    color:white;

    font-size:20px;

    font-weight:600;

    pointer-events:auto;

    cursor:pointer;

    user-select:none;

    transition:color .3s ease, text-shadow .3s ease;

}

.orbit-word:hover{

    color:#ffd8f3;

    text-shadow:
        0 0 10px #ff8fd8,
        0 0 20px #ff8fd8,
        0 0 35px #ff8fd8;

    transform:scale(1.08);

}